/* NotificationList.css */
.notification-list {
     width: 0;
     height: 70%;
     position: fixed;
     top: 8%;
     right: 0;
     background-color: #fff;
     transition: width 0.3s;
     overflow-y: auto;
     z-index: 1;
     
     p{
          font-weight: 700;
          color: black;
          font-size: 18px;
     }
     small{
          font-size:12px;
     }
     h3{
          color: gray;
     }
   }
   
   .notification-list.visible {
     width: 250px; /* Adjust the width as needed */
   }
   