.app.dark {
  background-color: #111;
  color: rgb(156, 156, 156);

  .chartGrid {
    stroke: rgba(228, 228, 228, 0.219);
  }

  .table {
    background-color: #111;

    .tableCell {
      color: gray;
    }
  }

  .navbar {
    color: #999;
    border-color: #333;

    .search {
      border: 1px solid #3b3a3a;
    }
  }

  .sidebar {
    background-color: #111;
    border: none;
    z-index: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);


    .top {
      .logo {
        color: #999;
      }
    }
    hr {
      border-color: #333;
    }

    ul {
      li {
        span{
          color:white;
        }
        &:hover {
          background-color: #333;
        }

        .icon {
          color: #999;
        }
      }
    }
  }

  .datatable {
    .datagrid {
      color: gray;
      border: none;
      .MuiDataGrid-cell {
        border: none; /* Light gray border */
      }
      
      /* Optional: Remove the outer borders */
      .MuiDataGrid-row:first-child {
        border: none;
      }

      .viewButton,
      .deleteButton,
      .cellWithStatus {
        color: gray;
        border: none;
      }
    }
  }

  input{
      background-color: transparent;
  }
  .homeContainer{
    background-color: #111;
  }
  .widget,.featured,.chart,.listContainer{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .table {
    border-collapse: collapse;

    .tableCell, .tr {
      border-bottom: none; /* Light gray border */
    }
   
  }
  
  
  
  
}
